$primary-color     : #1890ff;
$button-hover-color: adjust-color($primary-color, $lightness: -10%);
$border-color      : #d9d9d9;
$table-background  : #fafafa;

.category-container {
    padding         : 20px;
    background-color: #fff;
    border-radius   : 8px;
    box-shadow      : 0 4px 12px rgba(0, 0, 0, 0.05);

    .ant-form-inline {
        margin-bottom: 20px;
    }

    .category-actions {
        display        : flex;
        justify-content: space-between;
        margin-bottom  : 10px;

        .add-button {
            background-color: $primary-color;
            color           : #fff;
            border-radius   : 6px;
            padding         : 6px 12px;

            &:hover {
                background-color: $button-hover-color;
            }
        }
    }

    .ant-table {
        background-color: $table-background;
        border-radius   : 6px;

        .ant-table-thead>tr>th {
            background-color: $primary-color;
            color           : white;
        }

        .ant-table-tbody>tr:hover {
            background-color: adjust-color($primary-color, $lightness: 45%);
        }
    }
}

.modal-update-category {
    .ant-modal-header {
        background-color: $primary-color;
        color           : white;
        padding         : 8px;
    }

    .ant-modal-footer {
        button {
            background-color: $primary-color;
            color           : white;

            &:hover {
                background-color: $button-hover-color;
            }
        }
    }
}